# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
ejemplo.png
/src/utils/getModalToShow.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/components/debug
/src/app/test-ficha

# local env files
.env*.local
.env
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js.map

# temp directory
/temp

# Prisma seed script (contains plain text passwords for development)
prisma/seed.ts
# Prisma
/prisma/migrations/*/*.sql
